.table {
  width: 70%;
  margin: 0 auto;
}

.table,
.table th,
.table td {
  /* border: 1px solid black; */
  padding: 0.4rem 0.6rem;
  border-collapse: collapse;
}

.linkName {
  /* border: 1px solid black; */
  display: inline-block;
  padding: 0.4rem 0.6rem;
  border-collapse: collapse;
  color: black;
  text-decoration: none;
  outline: none;
}

.linkName:hover {
  color: blue;
}

.thead {
  font-size: 2rem;
  background-color: rgb(127, 124, 124);
  /* color: white; */
  /* gap: 1rem; */
}

.tbody {
  /* gap: 1rem; */
  font-size: 2rem;
}

.tbody > tr:nth-child(even) {
  background-color: #8a9e9e;
}

.tbody > tr:nth-child(odd) {
  background-color: #e0e2e2;
}

.addNewCourse {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 2rem;
  width: 15rem;
  margin: 3rem 5rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
}

.addNewCourse:hover {
  background-color: grey;
}

.updateCourse {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  /* border: 1px solid black; */
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
  width: 10rem;
  font-weight: 500;
  text-align: center;
}
.updateCourse:hover {
  background-color: white;
}
.optionsContainer > button {
  display: block;
  width: 10rem;
  color: red;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.8rem;
  /* border: 1px solid black; */
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
  width: 10rem;
  text-align: center;
}

.optionsContainer > button:hover {
  background-color: white;
}
.optionsContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.addNewCourse {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 2rem;
  width: 15rem;
  margin: 3rem 5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.addNewCourse:hover {
  background-color: grey;
}

.noContent {
  text-align: center;
  font-size: 3.2rem;
  color: red;
  margin: 4rem 0;
}
